<h1>Edit <%= @bulk_discount.name %></h1>
<%= form_tag "/merchant/bulk_discounts/#{@bulk_discount.id}", method: :patch  do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :description %>
  <%= text_field_tag :description %>

  <%= label_tag :discount_percentage %>
  <%= text_field_tag :discount_percentage %>

  <%= label_tag :item_count_threshold %>
  <%= text_field_tag :item_count_threshold %>

  <%= submit_tag "Save Changes" %>
<% end %>
