<h1>Bulk Discount: <%= @bulk_discount.id %></h1>
<h4>Name: <%= @bulk_discount.name %></h4>
<h4>Description: <%= @bulk_discount.description %></h4>
<h4>Discount: <%= @bulk_discount.discount_percentage %>% off</h4>
<h4>Item Threshold: <%= @bulk_discount.item_count_threshold %>%</h4>
<%= link_to "Edit Bulk Discount", edit_merchant_bulk_discount_path %>
